span.render-part-audio {
    display: none;
}

div.render-part-posp {
    display: none;
}


body {
    background: #1e1e1e;
}

.card {
    /*color: #fcfcfe;*/
    color: #d4d4d4;
    /*background-color: rgba(17, 5, 5, 0.979) !important;*/
    background-color: #1e1e1e !important;
    box-shadow: 0 2px 4px 0 rgba(198, 198, 198, 0.5);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 2px 4px 0 rgba(198, 198, 198, 0.9);
}

div.render-front-side {
    display: inline;
    font-size: 20px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

/*
    CSS FOR BASIC PART: wordem, audio, phonetic, basicmean
*/
div.render-part-basic > span.render-part-basic-wordem {
    font-size: 20px;
    font-family: Arial,sans-serif;
    color: red;
    font-weight: bold;
}

div.render-part-basic > span.render-part-audio {
    display: inline;
}

div.render-part-basic > span.render-part-audio > a.audio {
    text-decoration: none !important;
    font-size: 18px;
    padding: 0 0 0 .75em;
    cursor: pointer;
}

div.render-part-basic > span.render-part-basic-phonetic {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    display: inline-block;
    color: #a0a0a0;
    font-family: "lucida sans unicode",arial,sans-serif;
    font-weight: normal;
    margin: 0 .1em;
}

div.render-part-basic > span.render-part-basic-phonetic > span.render-phonetic-name {
    color: rgb(218, 213, 213);
    font-weight: 700;
    margin-right: 5px;
}

div.render-part-basic > span.render-part-basic-mean {
    font-weight: 700;
}

/*
    CSS FOR WORD MEAN LIST [n: xxxx,   v: xxxxx]
*/

div.render-part-mean > span.render-part-mean-item {
    display: block;
    padding-bottom: 6px;
}

div.render-part-mean  span.render-part-mean-item-data {
    margin-left: 6px;
}


/*
    CSS STYLE FOR DICTIONARY STAT
*/
div.render-part-stat {
    margin-top: 4px;
    margin-bottom: 4px;
}

div.render-part-stat > span.render-part-stat-basic, 
div.render-part-stat > span.render-part-stat-posp {
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #bfbfbf;
    padding: 2px 4px 2px 4px;
    background-color: #3a3636;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 12px;
}

div.render-part-stat span.render-part-stat-basic-sense,
div.render-part-stat span.render-part-stat-posp-pos {
    padding-right: 2px;
}

div.render-part-stat span.render-part-stat-basic-percent,
div.render-part-stat span.render-part-stat-posp-percent {
    color: rgb(189, 184, 184);
    font-weight: 700;
    padding-right: 4px;
}

/*
    CSS FOR WORD TRANSFORM
*/
div.render-part-transform > span.render-part-transform-item {
    color: #b4782f;
    margin-right: 10px;
    font-size: 12px;
    font-family: 'Open Sans';
}
div.render-part-transform > span.render-part-transform-item > span.render-transform-name {
    color: #958d79;
    margin-right: 6px;
}

/*
    CSS FOR WORD TAGS
*/
div.render-part-tag > span.render-part-tag-item {
    display: inline-block;
    color: #999;
    font-size: 12px;
    padding: 0 6px;
    background: #383636;
    border-radius: 2px;
    height: 20px;
    box-sizing: border-box;
    line-height: 20px;
    margin-right: 12px;
}

/*
    DICTIONARY NAME
*/
div.render-part-dictname {
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #E7E7E7;
    padding-left: 4px;
}

/*
    CSS FOR VOCABULARY
*/
span.render-part-vocabulary-container {
    line-height: 155%;
    margin: .5em 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(240, 235, 235);
    font-family: 'Open Sans';
    font-size: 15px;
}

span.render-part-vocabulary-container  span.render-part-vocabulary-main {
    padding-top: 10px;
}

span.render-part-vocabulary-container span.render-part-vocabulary-brief > span.render-part-vocabulary-brief-item,
span.render-part-vocabulary-container span.render-part-vocabulary-def > span.render-part-vocabulary-def-item {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}
span.render-part-vocabulary-container span.render-part-vocabulary-brief span.render-part-vocabulary-brief-item-def,
span.render-part-vocabulary-container span.render-part-vocabulary-def > span.render-part-vocabulary-def-item > span.render-part-vocabulary-def-item-def {
    margin-left: 6px;
}

/*
    CSS FOR OXFORD
*/
span.render-part-oxford-container,
span.render-part-collins-container,
span.render-part-enmeans-container {
    line-height: 155%;
    margin: .5em 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(240, 235, 235);
    font-family: 'Open Sans';
    font-size: 14px;
}

span.render-part-oxford-container span.render-part-oxford-details, 
span.render-part-collins-container span.render-part-collins-details,
span.render-part-enmeans-container span.render-part-enmeans-details {
    margin-top: 4px;
}

span.render-part-oxford-container span.render-part-oxford-details > span.render-part-oxford-item,
span.render-part-collins-container span.render-part-collins-details > span.render-part-collins-item,
span.render-part-enmeans-container span.render-part-enmeans-details > span.render-part-enmeans-item {
    display: block;
    margin-top: 2px;
}
span.render-part-oxford-container span.render-part-oxford-details > span.render-part-oxford-item > b,
span.render-part-collins-container span.render-part-collins-details > span.render-part-collins-item > b, 
span.render-part-enmeans-container span.render-part-enmeans-details > span.render-part-enmeans-item > b {
    margin-top: 6px;
    display: inline-block;
}

span.render-part-oxford-container span.render-part-oxford-details > span.render-part-oxford-item > span.render-part-oxford-item-def,
span.render-part-oxford-container span.render-part-oxford-details > span.render-part-oxford-item > span.render-part-oxford-item-x,
span.render-part-collins-container span.render-part-collins-details > span.render-part-collins-item > span.render-part-collins-item-def,
span.render-part-collins-container span.render-part-collins-details > span.render-part-collins-item > span.render-part-collins-item-x,
span.render-part-enmeans-container span.render-part-enmeans-details > span.render-part-enmeans-item > span.render-part-enmeans-item-def,
span.render-part-enmeans-container span.render-part-enmeans-details > span.render-part-enmeans-item > span.render-part-enmeans-item-x {
    margin-top: 6px;
    display: block;
}

span.render-part-oxford-container span.render-part-oxford-details span.render-part-oxford-item-def-enzh,
span.render-part-collins-container span.render-part-collins-details span.render-part-collins-item-def-enzh, 
span.render-part-enmeans-container span.render-part-enmeans-details span.render-part-enmeans-item-def-en {    
    display: block;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #bfbfbf;
    padding: 2px 4px 2px 8px;
    color: rgb(240, 235, 235);
}

span.render-part-oxford-container span.render-part-oxford-details span.render-part-oxford-item-def-enzh span.render-part-oxford-item-def-enzh-en,
span.render-part-collins-container span.render-part-collins-details span.render-part-collins-item-def-enzh span.render-part-collins-item-def-enzh-en {
    margin-right: 10px;
    color: #ab9d96;
}

span.render-part-oxford-container span.render-part-oxford-details span.render-part-oxford-item-x-enzh,
span.render-part-collins-container span.render-part-collins-details span.render-part-collins-item-x-enzh,
span.render-part-enmeans-container span.render-part-enmeans-details span.render-part-enmeans-item-x-en {    
    display: block;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgba(250, 146, 98, 0.932);
    padding: 2px 4px 2px 8px;
}

span.render-part-oxford-container span.render-part-oxford-details span.render-part-oxford-item-x-enzh span.render-part-oxford-item-x-enzh-zh,
span.render-part-oxford-container span.render-part-oxford-details span.render-part-oxford-item-x-enzh span.render-part-oxford-item-x-enzh-en,
span.render-part-collins-container span.render-part-collins-details span.render-part-collins-item-x-enzh span.render-part-collins-item-x-enzh-zh,
span.render-part-collins-container span.render-part-collins-details span.render-part-collins-item-x-enzh span.render-part-collins-item-x-enzh-en {
    display: block;
}
span.render-part-oxford-container span.render-part-oxford-details span.render-part-oxford-item-x-enzh span.render-part-oxford-item-x-enzh-en,
span.render-part-collins-container span.render-part-collins-details span.render-part-collins-item-x-enzh span.render-part-collins-item-x-enzh-en {
    color: #ab9d96;
}

span[class$="-details"] b:not([class]) {
    color: rgb(247, 140, 18, 0.8)
}