<html>
    <head>
        <title>404 NOT FOUND ERROR!</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 align="center">404 NOT FOUND ERROR!</h1>
            <h2 align="center">{{ err_msg }}</h2>
        </div>
    </body>
</html>
