<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.preview.css') }}" />
    <style>
        .editormd-html-preview {
            width: 100%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="padding: 0px 0; background-color: #000000">
        </div>
    </div>
    <div class="container">
        <div id="div_editormd_mainview">
            <textarea style="display:none;">{{ md_content }}</textarea>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='editormd/lib/marked.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/prettify.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/raphael.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/underscore.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/sequence-diagram.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/flowchart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/jquery.flowchart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/editormd.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var editorView = editormd.markdownToHTML("div_editormd_mainview", {
                    //markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
                    //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    //toc             : false,
                    tocm            : true,    // Using [TOCM]
                    //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                    //gfm             : false,
                    //tocDropdown     : true,
                    // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                });
            });
    </script>
</body>
</html>
